.word {
    &__list{
      width: 80%;
    } 
    &__item {
    display: flex;
    justify-content: space-between;
    padding : 2rem;
    color: black;
    background-color: var(--color-white-secondary);
    font-size: $fontSize-medium;
    font-weight: bold;
    padding: 1.5rem 2rem;
  }
  }

  .settled-true {
    background-color: #5dcf36;
  }
  .settled-false {
    background-color: #d15f5f;
  }
  
  
  .icon-box{
    & > span:first-child{
      margin-right: 2rem;
    }

  }
  