:root {
  // all variable of colors used on the project
  --color-green-primary: #06d6a0;
  --color-green-secondary: #5DCF36;
  --color-pink-primary: #ef476f;
  --color-white: #fff;
  --color-white-secondary: #f9eae1;
  --color-black: #000;
  --color-right-answer: #5dcf36;
  --color-wrong-answer: #d15f5f;
}

html,
body,
#root {
  height: 100%;
}

// element's HTML properties
html {
  
font-size: 62.5%;
  @include respond(phone) {
    font-size: 37.5%;
  }

  @include respond(tab-port) { 
    // width < 900?
    font-size: 56.25%; 
  }
  @include respond(tab-land) {
    // width < 1200?
    font-size: 60%;
  }
  


}

body {
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
}

input {
  &[type="radio"] + label {
    font-size: $fontSize-medium;
    margin-left: 1rem;
  }
}

.container {
  height: 100%;
  background-color: var(--color-green-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $PadTop-container;
  padding-bottom: $PadBot-container;
  overflow: scroll;
  justify-content: space-between;
}



