:root {
  // all variable of colors used on the project
  --color-green-primary: #06d6a0;
  --color-pink-primary: #ef476f;
  --color-white: #fff;
  --color-white-secondary: #f9eae1;
  --color-black: #000;
  --color-right-answer: #5dcf36;
  --color-wrong-answer: #d15f5f;
}

html, body, #root {
  height: 100%;
}

// element's HTML properties
html {
  font-size: 62.5%;
  @include respond(tab-land) {
    // width < 1200?
    font-size: 65%;
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 65%;
  }

  @include respond(desktop) {
    font-size: 70%;
  }
}

body {
  font-family: "Roboto", sans-serif;

}

.container {
  background-color: var(--color-green-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $PadTop-container;
  padding-bottom: $PadBot-container;
  height: 100%;
  &--home{
    justify-content: space-between;
  }

}
