/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px 
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --color-green-primary: #06d6a0;
  --color-pink-primary: #ef476f;
  --color-white: #fff;
  --color-white-secondary: #f9eae1;
  --color-black: #000;
  --color-right-answer: #5dcf36;
  --color-wrong-answer: #d15f5f; }

html, body, #root {
  height: 100%; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 62em) {
    html {
      font-size: 65%; } }
  @media only screen and (min-width: 43em) {
    html {
      font-size: 65%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 70%; } }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.container {
  background-color: var(--color-green-primary);
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  height: 100%; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
