/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px 
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --color-green-primary: #06d6a0;
  --color-pink-primary: #ef476f;
  --color-white: #fff;
  --color-white-secondary: #f9eae1;
  --color-black: #000;
  --color-right-answer: #5dcf36;
  --color-wrong-answer: #d15f5f; }

html,
body,
#root {
  height: 100%; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 62em) {
    html {
      font-size: 65%; } }
  @media only screen and (min-width: 43em) {
    html {
      font-size: 65%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 70%; } }

body {
  font-family: "Roboto", sans-serif; }

a {
  cursor: pointer; }

input[type="radio"] + label {
  font-size: 2.5rem; }

.container {
  background-color: var(--color-green-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  height: 100%; }
  .container--home {
    justify-content: space-between; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  font-size: 4.4rem; }

.button-container {
  display: flex;
  flex-direction: column;
  width: 75%; }

.btn {
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  height: 5rem;
  text-transform: uppercase;
  border: none;
  font-size: 2.5rem;
  font-weight: bold;
  width: 100%; }
  .btn:not(:last-child) {
    margin-bottom: 2.5rem; }

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh/5);
    background-color: var(--color-white-secondary); }
  .form__question {
    font-size: 2.5rem;
    margin-top: 2rem; }
  .form__answer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 3.5rem; }
  .form__opt {
    text-align: center;
    flex: 1; }
