/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px 
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --color-green-primary: #06d6a0;
  --color-pink-primary: #ef476f;
  --color-white: #fff;
  --color-white-secondary: #f9eae1;
  --color-black: #000;
  --color-right-answer: #5dcf36;
  --color-wrong-answer: #d15f5f; }

html,
body,
#root {
  height: 100%; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (min-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 60%; } }

body {
  font-family: "Roboto", sans-serif; }

a {
  cursor: pointer; }

input[type="radio"] + label {
  font-size: 4.5rem;
  margin-left: 1rem; }

.container {
  height: 100%;
  background-color: var(--color-green-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9.5rem;
  padding-bottom: 6rem;
  overflow: scroll;
  justify-content: space-between; }
  .container--round {
    justify-content: space-between; }

div[class="box"] {
  color: yellow; }

.word {
  color: black;
  background-color: var(--color-white-secondary);
  font-size: 4.5rem;
  font-weight: bold;
  padding: 1.5rem 2rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  font-size: 6.4rem; }

.button-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 2rem auto; }

.btn {
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  height: 6rem;
  text-transform: uppercase;
  border: none;
  font-size: 4.5rem;
  font-weight: bold;
  width: 100%; }
  .btn:not(:last-child) {
    margin-bottom: 2.5rem; }

.form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh/4.5);
    background-color: var(--color-white-secondary);
    margin-top: 5rem; }
  .form__question {
    font-size: 4.5rem;
    margin-top: 2rem; }
  .form__answer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 4rem; }
  .form__box-input {
    flex: 1; }
  .form__opt {
    text-align: center;
    flex: 1; }
    .form__opt--column {
      display: flex;
      flex-direction: column; }

.round__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-white-secondary);
  padding-bottom: 20rem;
  text-align: center;
  line-height: 7rem; }

.round__team {
  font-size: 4.5rem; }

.round__name {
  font-size: 3.5rem;
  font-weight: bolder; }
