// MARGIN & PADDING VALUES
$PadBot-container: 6rem;
$PadTop-container: 9.5rem;


// FONT SIZE VALUES
$fontSize-Xlarge: 6.4rem;
$fontSize-medium : 4.5rem;
$fontSize-small : 3.5rem;

// WIDTH VALUES
$WidthElPage: 70%;